@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  @apply py-[20px] px-[14px];
}

/* // custom class for login container */

.personal-information-container {
  @apply bg-purpledark text-whiteoff p-[12px] w-full rounded-xl focus:outline-none ring-[.45px] ring-white mb-[16px] mt-[6px] font-poppins text-sm xl:text-[16px] placeholder-purplesmalltext;
}

.personal-information-container-negative {
  @apply bg-purpledark text-whiteoff p-[12px] w-full rounded-xl focus:outline-none ring-[.45px] ring-redwarn mb-[6px] mt-[6px] font-poppins text-sm xl:text-[16px] placeholder-purplesmalltext;
}

/* // custom class for personal info container email, name etc */
.social-boxes {
  @apply px-[16px] py-[8px] bg-whitesociobg rounded-xl flex flex-1 items-center justify-center h-[48px];
}

.wallet-pane {
  @apply px-[16px] py-[8px] bg-whitesociobg rounded-xl h-[48px];
}

/* // custom class for social login tabs */
.input::placeholder {
  letter-spacing: 0;
}
/* 
// custom class for different style inclusion inside same class for placeholder and OTP  */

.subcontainer-grad {
  @apply rounded-xl bg-gradient-to-br from-purpledark/65 to-purplemax/80 xl:bg-none;
}

.active-button {
  @apply bg-gradient-to-t from-purpleactone to-purpleacttwo text-[16px] text-whiteoff font-semibold w-full p-[12px] rounded-xl;
}

.inactive-button {
  @apply bg-purplebtngray text-[16px] text-whiteoff font-semibold w-full p-[12px] rounded-xl;
}

.fhn-gradient-sm {
  @apply bg-gradient-to-br from-purpledark/50 to-purpledark/50 via-purplemax 
  bg-[length:200%_200%];
}
